.image-slider-body{
    width: 100%;
    height: 35rem;
}
.image-slider-body img{
    width: 100%;
    height: 36rem;
}
@media screen and (min-width:101px) and (max-width:600px){
    .image-slider-body img{
        width: 100%;
        height: 16rem;
    }
}