.Changepass-body{
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-image: url(../../assets/images/LoginPagebackgroundImage.jpg);
}
.Changepass-container{
    height: 17rem;
    width: 380px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid rgb(97, 97, 97);
}
.changepass-inputs{
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center;
    
}
.changepass-inputs input{
    width: 300px;
    border-radius: 5px;
}
.changepass-save{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    margin-top: 20px;
}
.changepass-save button{
    width: 80px;
    color: white;
    cursor: pointer;
}
#save-btn{
    background-color: rgb(32, 144, 77);
}
#cancel-btn{
    background-color: rgb(43, 131, 169);
}