.leave-application-page {
    height: 100%;
    padding-bottom: 30px;
}

.leave-application-header {
    height: 5rem;
    font-family: sans-serif;
    text-align: center;
    padding-top: 11px;
}

.leave-application {
    width: 600px;
    margin: auto;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px;
    padding-top: 30px;
    border-radius: 20px;
    margin-top: 30px;
}

.date-pickers {
    gap: 20px;
}
.leavedateslist{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.fileslist {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.documentupload {
    display: inline-block;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

input[type="file"] {
    display: none;
}

/* Style for the custom button appearance */
.documentupload label {
    display: inline-block;
    padding: 8px 15px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.documentupload label:hover {
    background-color: #2980b9;
}

.documentupload span {
    margin-left: 10px;
}
@media screen and (min-width:101px) and (max-width:600px) {
    .leave-application {
        width: 280px;
        height: 100%;
        padding: 18px;
    }

    .date-pickers {
        flex-direction: column;
    }
    .leavedateslist {
        grid-template-columns: repeat(1,1fr);
    }
}
