.heading {
    width: 80%;
    margin: auto
}
.create-balance {
    width: 600px;
    margin: auto;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px;
    padding-top: 30px;
    border-radius: 20px;
    margin-top: 30px;
}