.leave-dashboard{
    height: 50rem;
}
.leaveboard-head{
    /* background-color: rgb(123, 174, 246); */
    height: 4.5rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.leaveboard-options{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.leaveboard-head h1{
    font-family: sans-serif;
}

@media screen and (min-width:101px) and (max-width:600px) {
    .leaveboard-head{
        height: 10rem;
    }
    .leaveboard-options {
        flex-direction: column;
        gap: 8px;
    }

}