.drawer-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.drawer-menu a{
    text-decoration: none;
    color: white;
}
.Three-dot{
    display: none;
}
@media screen and (min-width:101px) and (max-width:600px){
    .Three-dot{
        display: flex;
    }
}